
a {
	color: #c1c1c1;

	/*&:hover {
		color:#7F8785;
		border-bottom: 4px solid rgba(236,235,222,.5);
	}*/
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 220px;
	padding: 60px 30px 60px 60px;
	font-family:'Open Sans', sans-serif;
}

#intro {
	text-transform: uppercase;
}

.sidebar-header,
.sidebar-subtitle  {
	margin: 0;
	font-size: 10px;
	line-height: 1.4em;
	color: #c1c1c1;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;

}

.sidebar-header{
	color: #2f3231;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

#sidebar hr {
	width: 100px;
	margin: 30px 0;
	color: #ecebde;
}

#wrapper {
	padding-left: 220px;
	padding-right: 30px;
	margin-top: 120px;
	font-size: 10px;
	line-height: 1.4em;
	padding-bottom: 60px;
}

.sidebar-nav {
	padding: 0;
	padding-top: 20px;
	font-size: 10px;
	list-style: none;
	line-height: 2.4em;
	letter-spacing: 2px;
	color: #c1c1c1;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}


.stack .col-md-6 {
	padding: 0 30px;
	margin-bottom: 60px;
}

.stack-item {
	width: 100%;
	height: 0;
	border: 1px solid #ecebde;
	border-radius: 4px;
	padding-top: 100%;
	position: relative;
	height: 490px;
	width: 490px;
}

.stack-item:hover .bottom-drawer {
	opacity: 1;
	background-color: #fff;
	color: #c1c1c1;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.item-1 {
/*	background: url(images/Facebook.jpg) no-repeat center center;*/
}

.item-2 {
/*	background: url(images/Profit.jpg) no-repeat center center;*/
}

.item-3 {
/*	background: url(images/Brandtale.jpg);*/
}

.item-4 {
/*	background: url(images/TheThread.jpg);*/
}

.item-5 {
/*	background: url(images/Supercompressor.jpg);*/
}

.item-6{
/*	background: url(images/Thrillist.jpg);*/
}


.bottom-drawer {
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 120px;
	border-top: 1px solid #ecebde;
	padding: 30px;
	font-size: 10px;
	line-height: 24px;
	color: #c1c1c1;
	text-transform: uppercase;
}

.project-name {
	color: #2f3231;
	font-size: 10px;
	line-height: 24px;
	margin: 0;
	letter-spacing: 2px;
}

.bottom-drawer hr {
	width: 100px;
	margin: 30px 0;
}

.bottom-drawer p {
	margin: 0;
	letter-spacing: 2px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-top: 1px solid #ecebde;
	opacity: .98;
	height: 60px;
	padding-left: 60px;
	background-color: #fff;
	line-height: 60px;
	font-size: 10px;
	letter-spacing: 2px;
	color: #c1c1c1;
}


@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
	#sidebar {
		position: static;
		padding: 0;
		width: auto;
	}

	#intro {
		padding: 30px;
		border-bottom: 1px solid #ecebde;
	}

	.sidebar-info {
		float: left;
	}

	.sidebar-menu-btn {
		float: right;
	}

	#sidebar hr {
		display: none;
	}

	.sidebar-collapse {
		display: none;
	}

	#wrapper {
		padding-left: 0;
		padding-right: 0;
		margin-top: 30px;
	}

	.stack .col-md-6 {
		padding: 0 30px;
	}

	.bottom-drawer {
		opacity: 1;
	}

	footer {
		position: static;
	}
}




