@-webkit-keyframes intro-1 {
  0% {transform: translateX(80px) translateY(-20px) scale(.5);}
  100% {transform: translateX(0px) translateY(0px) scale(1);}
}
@keyframes intro-1 {
  0% {transform: translateX(80px) translateY(-20px) scale(.5);}
  100% {transform: translateX(0px) translateY(0px) scale(1);}
}

@-webkit-keyframes intro-2 {
  0% {transform: translateX(-10px) translateY(-10px) scale(.2) rotateZ(30deg);}
  100% {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
}
@keyframes intro-2 {
  0% {transform: translateX(-10px) translateY(-10px) scale(.2) rotateZ(30deg);}
  100% {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
}

@-webkit-keyframes intro-3 {
  0% {transform: translateX(-40px) translateY(50px) scale(.4) rotateZ(-20deg);}
  100% {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
}
@keyframes intro-3 {
  0% {transform: translateX(-40px) translateY(50px) scale(.4) rotateZ(-20deg);}
  100% {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
}

@-webkit-keyframes intro-4 {
  0% {transform: translateX(80px) translateY(20px) scale(.8) rotateZ(15deg);}
  100% {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
}
@keyframes intro-4 {
  0% {transform: translateX(80px) translateY(20px) scale(.8) rotateZ(15deg);}
  100% {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
}

@-webkit-keyframes explode-1 {
  from {transform: translateX(0px) translateY(0px) scale(1);}
  to {transform: translateX(80px) translateY(-20px) scale(.5);}
}
@keyframes explode-1 {
  from {transform: translateX(0px) translateY(0px) scale(1);}
  to {transform: translateX(80px) translateY(-20px) scale(.5);}
}

@-webkit-keyframes explode-2 {
  from {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
  to {transform: translateX(-10px) translateY(-10px) scale(.2) rotateZ(30deg);}
}
@keyframes explode-2 {
  from {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
  to {transform: translateX(-10px) translateY(-10px) scale(.2) rotateZ(30deg);}
}

@-webkit-keyframes explode-3 {
  from {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
  to {transform: translateX(-40px) translateY(50px) scale(.4) rotateZ(-20deg);}
}
@keyframes explode-3 {
  from {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
  to {transform: translateX(-40px) translateY(50px) scale(.4) rotateZ(-20deg);}
}

@-webkit-keyframes explode-4 {
  from {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
  to {transform: translateX(80px) translateY(20px) scale(.8) rotateZ(15deg);}
}
@keyframes explode-4 {
  from {transform: translateX(0px) translateY(0px) scale(1) rotateZ(0deg);}
  to {transform: translateX(80px) translateY(20px) scale(.8) rotateZ(15deg);}
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    transform: translateY(40px);}
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes text-focus-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

#logoCircle {
  -webkit-animation: intro-1 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
	        animation: intro-1 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
}

#logoLine1 {
  -webkit-animation: intro-2 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
	        animation: intro-2 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
}

#logoLine2 {
  -webkit-animation: intro-3 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
	        animation: intro-3 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
}

#logoLine3 {
  -webkit-animation: intro-4 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
	        animation: intro-4 .3s cubic-bezier(.87,-.41,.19,1.44) .5s both;
}

.logo:hover #logoCircle {
  -webkit-animation: explode-1 .2s cubic-bezier(.87,-.41,.19,1.44) both;
	        animation: explode-1 .2s cubic-bezier(.87,-.41,.19,1.44) both;
}

.logo:hover #logoLine1 {
  -webkit-animation: explode-2 .2s cubic-bezier(.87,-.41,.19,1.44) both;
	        animation: explode-2 .2s cubic-bezier(.87,-.41,.19,1.44) both;
}

.logo:hover #logoLine2 {
  -webkit-animation: explode-3 .2s cubic-bezier(.87,-.41,.19,1.44) both;
	        animation: explode-3 .2s cubic-bezier(.87,-.41,.19,1.44) both;
}

.logo:hover #logoLine3 {
  -webkit-animation: explode-4 .2s cubic-bezier(.87,-.41,.19,1.44) both;
	        animation: explode-4 .2s cubic-bezier(.87,-.41,.19,1.44) both;
}

h1 {
  font-family: 'Overpass Mono', monospace;
  font-weight: lighter;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

h2 {
  font-family: 'Overpass Mono', monospace;
  font-weight: lighter;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  margin: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  transition:.7s;
}

span.goldColor {color: #E4AD36;}

span.lightColor {color: #999999;}

span.fbBlue a:link {color: #000000;}
span.fbBlue a:visited {color: #000000;}
span.fbBlue a:hover {color: #4267B2;}

span.ocGray a:link {color: #000000;}
span.ocGray a:visited {color: #000000;}
span.ocGray a:hover {color: #8E8F90;}

span.medPink a:link {color: #000000;}
span.medPink a:visited {color: #000000;}
span.medPink a:hover {color: #FF2E92;}

span.gifnBlue a:link {color: #000000;}
span.gifnBlue a:visited {color: #000000;}
span.gifnBlue a:hover {color: #4BAFE7;}

span.brandGreen a:link {color: #000000;}
span.brandGreen a:visited {color: #000000;}
span.brandGreen a:hover {color: #00B0AA;}

span.thrillRed a:link {color: #000000;}
span.thrillRed a:visited {color: #000000;}
span.thrillRed a:hover {color: #C30000;}

span.jackOrange a:link {color: #000000;}
span.jackOrange a:visited {color: #000000;}
span.jackOrange a:hover {color: #EF3A23;}

span.prplGreen a:link {color: #000000;}
span.prplGreen a:visited {color: #000000;}
span.prplGreen a:hover {color: #27F5C8;}

span.groupBlue a:link {color: #000000;}
span.groupBlue a:visited {color: #000000;}
span.groupBlue a:hover {color: #00DFE4;}

span.social a:link {color: #000000;}
span.social a:visited {color: #000000;}
span.social a:hover {color: #E4AD36;}

html {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 40px;
}

.header {
  width: 100%
}

.logo {
  padding: 0;
  margin: 0;
  width: 116px;
}
.content{
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0;
  margin: 0;
}
.name {
  margin: 40px 0;
  padding: 0;
  width: auto;
  -webkit-animation: text-focus-in 1.5s 1s both;
  	      animation: text-focus-in 1.5s 1s both;
}
.text {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0;
  margin: 0;
  -webkit-animation: text-focus-in 1.5s 1.5s both;
  	      animation: text-focus-in 1.5s 1.5s both;
}

.current, .previous, .know, .more {
  margin: 0 0 40px 0;
}

.footer {
  width: 100%;
  margin: 120px 0 0 0;
  text-align: left;
  -webkit-animation: text-focus-in 1.5s 2.0s both;
  	      animation: text-focus-in 1.5s 2.0s both;
}

@media (min-width: 550px) {
  body {
    margin: 80px;
  }
}

@media (min-width: 768px) {
  body {
    margin: 80px auto;
    width: 600px;
  }
  .text {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  body {
    margin: 80px auto;
    width: 840px;
  }
  .content{
    flex-direction: row;
    margin: 40px 0 0 0;
  }
  .name {
    margin: 0 80px 0 0;
    padding: 0;
    width: auto;
  }
  .footer {
    text-align: right;
  }
}
